.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-panel,
.right-panel {
  width: 50%;
  height: 100vh;
  float: left;
  z-index: 2;
  position: relative;
  background-image: url(./images/background_1_landscape_medium.jpg);
  transition: all 1s ease-in;
  font-size: 4rem;
}

.left-panel {
  text-align: right;
}
.content {
  position: absolute;
  width: 100%;
  top: 5%;
  transform: translateY(-50%);
  background: 333;
  z-index: 1;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.curtainBtn {
  margin: auto;
  position: relative;
  width: 100%;
}

.portfolio-list,
.aboutMe-list {
  position: absolute;
  list-style: none;
}

.portfolio-img {
  width: 70%;
  height: 70%;
}

/*
.left-panel:hover {
  transform: translateX(-100%);
}

.right-panel:hover {
  transform: translateX(100%);
}
*/
