body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("./images/background_2_landscape_medium.jpg") no-repeat center;
  background-size: cover;
}

.curtainBtn {
  margin: auto;
  position: relative;
  width: 100%;
  font-size: 1.5rem;
}

.left-panel,
.right-panel {
  width: 50%;
  height: 100vh;
  z-index: 2;
  position: relative;
  background-image: url(./images/background_1_landscape_medium.jpg);
  transition: all 1s ease-in;
  font-size: 2.5rem;
  overflow: hidden;
}

.left-panel {
  text-align: right;
  float: left;
}

.right-panel {
  float: right;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  transform: translateY(-100%);
  background: 333;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.sec-title {
  font-size: 2.5rem;
  margin: 10px 0 5px 0;
}
.aboutMe-wrap,
.portfolio-wrap {
  position: relative;
  text-align: left;
  max-height: 800px;
}

.aboutMe-wrap {
  width: 500px;
  margin: 0;
  padding: 0;
}

.portfolio-wrap {
  width: 500px;
  margin: 0;
  padding: 0;
}

td,
th {
  border: 0.5px solid #ebebeb;
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}

th {
  text-align: center;
  background: black;
  color: white;
}

tr,
thead,
tbody {
  margin: auto;
  padding: auto;
}

.portfolio-table,
.aboutMe-table {
  position: relative;
  margin: 0 auto 0 0;
}

.portfolio-img {
  position: relative;
  width: 100px;
  height: 100px;
}

/*
.left-panel:hover {
  transform: translateX(-100%);
}

.right-panel:hover {
  transform: translateX(100%);
}
*/
